<!DOCTYPE html>
<html>
<body style= "background-color:blue;">
<h1 style= "color:orange;"> <%= link_to 'Click here to go Home', root_path %> <%= link_to 'Click here to go to the About page', about_path%></h1>
<br/>
  <h1 style= "color:orange;"> Welcome to the Blog Page. </h1>
  <h3 style= "color:orange;"> Here, I will type out my experiences learning new coding languges, and the struggles that ensue.</h3>
  
  <p style= "color:orange;"> Today, i am mixing HTML with ruby coding languages. I am doing my best at trying to learn this stuff, and a lot of it makes since.
  Most of the terms however escape me at times, but I do understand what I am being asked to do most of the time.</p>
  <p style= "color:orange;"> Hopefully this page will continue to expand as my knowledge gets better in these coding languages. I one day hope to work for NASA and actually become a software developer.</p>
  <p style= "color:orange;"> "Your all rebels aren't you? Rebellions are built on hope."</p>
  <%= image_tag 'rebel_logo.jpg'%>
</body>

<br/>
<%= link_to 'Click here to go Home', root_path %>
<%= link_to 'Click here to go to the About page', about_path%>

</html>